body {
  background-color: black;
}
.main {
  background-color: white;
  padding: 2%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 70px;
  border: 4px solid black;
  border-radius: 27px;
  background-image: url("../images/UntitledCat.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.keySection {
  position: relative;
  top: 5%;
  height: 15%;
  /* border: 1px solid black; */
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.key {
  /* border-bottom: 1px solid black; */
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key kbd {
  border-bottom: 1px solid black;
}

.color1 {
  background-color: teal;
  position: relative;
  top: 250%;
  -webkit-box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
  -moz-box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
  box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
}
.color2 {
  background-color: teal;
  position: relative;
  top: -300%;
  -webkit-box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
  -moz-box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
  box-shadow: -1px 3px 30px 16px rgba(217, 214, 217, 1);
}
